#para PLANIFICADOR  soy cliente
IP_PLANIFICADOR=127.0.0.1
#EN RED REAL CAMBIAR A 192.168.101.10
PUERTO_PLANIFICADOR=4000

#para MEMORIA  soy cliente
IP_MEMORIA=127.0.0.1
#EN RED REAL CAMBIAR A 192.168.101.11
PUERTO_MEMORIA=5000

#OTROS CONFIGURABLES
CANTIDAD_HILOS=4
RETARDO=28

